.App {
  text-align: center;
  background-repeat:repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.nav {
  background: rgba(0,0,0,0.5);
  border-bottom: #282c34;
}

.nav-item {
  font-size: 1vw;
  font-weight: bold;
  color: white;
  background:rgba(5,5,5,0.5);
  border-radius: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 17px;
  padding-right: 17px;
  border-width: 2px;
  border-color: aliceblue;
  margin-right: 20px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  font-size: 18px;
  font-stretch: expanded;
  background: rgba(0,0,0,0.5);
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  color: aliceblue;
  background: rgba(0,0,0,0.5);
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3);
}


.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.form-control{
  width: 400px;
}